In [420]:
import pandas as pd
import numpy as np

train_data=pd.read_csv("C:\SOAR\ALL MODELS\DATASETS\Titanic\Train.csv")

In [421]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [422]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [423]:
corr_matrix=train_data.corr()
corr_matrix

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [424]:
train_data[['SibSp','Survived']].groupby(['SibSp']).mean().sort_values(by='Survived',ascending=False)

       Survived
SibSp
1      0.535885
2      0.464286
0      0.345395
3      0.250000
4      0.166667
5      0.000000
8      0.000000

In [425]:
train_data['SibSp'].value_counts()

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [426]:
train_data['SibSp']=np.where(train_data['SibSp']>0,1,0)

In [427]:
train_data['SibSp'].value_counts()

0    608
1    283
Name: SibSp, dtype: int64

In [428]:
train_data[['SibSp','Survived']].groupby(['SibSp']).mean().sort_values(by='Survived',ascending=False)

       Survived
SibSp
1      0.466431
0      0.345395

In [429]:
train_data['Parch']=np.where(train_data['Parch']>0,1,0)

In [430]:
train_data[['Parch','Survived']].groupby(['Parch']).mean().sort_values(by='Survived',ascending=False)

       Survived
Parch
1      0.511737
0      0.343658

In [431]:
train_data['Sex']=np.where(train_data['Sex']=="male",1,0)

In [432]:
train_data[['Sex','Survived']].groupby(['Sex']).mean().sort_values(by='Survived',ascending=False)

     Survived
Sex
0    0.742038
1    0.188908

In [433]:
train_data['Cabin'].value_counts()

train_data['Cabin']=train_data['Cabin'].fillna('O')
list=train_data['Cabin']

In [434]:
alp=["A",'B','C','D','E','F','G']
for i in range(len(list)):
    list[i]=str(list[i])[0]
list

C:\Users\ADITHYA\AppData\Local\Temp\ipykernel_4552\352187470.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list[i]=str(list[i])[0]

0      O
1      C
2      O
3      C
4      O
      ..
886    O
887    B
888    O
889    C
890    O
Name: Cabin, Length: 891, dtype: object

In [435]:

train_data['Cabin'].value_counts()

O    687
C     59
B     47
D     33
E     32
A     15
F     13
G      4
T      1
Name: Cabin, dtype: int64

In [436]:
train_data[['Cabin','Survived']].groupby(['Cabin']).mean().sort_values(by='Survived',ascending=False)

       Survived
Cabin
D      0.757576
E      0.750000
B      0.744681
F      0.615385
C      0.593220
G      0.500000
A      0.466667
O      0.299854
T      0.000000

In [437]:
train_data['Age']=np.where(train_data['Age']>30,0,1)
train_data['Age']=train_data['Age'].fillna(2)
train_data[['Age','Survived']].groupby(['Age']).mean().sort_values(by='Survived',ascending=False)
train_data['Age'].value_counts()

1    586
0    305
Name: Age, dtype: int64

In [438]:
X=train_data.drop(['Survived','Name','Ticket','Fare','PassengerId'],axis=1)
object_cols = [cols for cols in X.columns if X[cols].dtype == 'object']

from sklearn.preprocessing import OrdinalEncoder
encoder=OrdinalEncoder()
X['Cabin']=encoder.fit_transform(X['Cabin'].values.reshape(-1,1))

X['Embarked'] = encoder.fit_transform(X['Embarked'].values.reshape(-1,1))
X=X.dropna(axis=1)

In [439]:
object_cols = [cols for cols in X.columns if X[cols].dtype == 'object']

y=train_data.Survived

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=32)
object_cols

[]

In [440]:
X['Cabin']

0      7.0
1      2.0
2      7.0
3      2.0
4      7.0
      ...
886    7.0
887    1.0
888    7.0
889    2.0
890    7.0
Name: Cabin, Length: 891, dtype: float64

In [441]:
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier(n_neighbors=5)
model.fit(X_train,y_train)
pred=model.predict(X_test)

c:\Users\ADITHYA\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [442]:
pred

array([0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1], dtype=int64)

In [443]:
from sklearn.metrics import roc_curve, roc_auc_score


fpr, tpr, thresholds = roc_curve(y_test, pred)
auc = roc_auc_score(y_test, pred)
auc

0.7591288471570161