In [2]:
import pandas as pd
import numpy as np

train_data=pd.read_csv("C:\SOAR\ALL MODELS\DATASETS\Titanic\Train.csv")

In [3]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
corr_matrix=train_data.corr()
corr_matrix

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [6]:
train_data[['SibSp','Survived']].groupby(['SibSp']).mean().sort_values(by='Survived',ascending=False)

       Survived
SibSp
1      0.535885
2      0.464286
0      0.345395
3      0.250000
4      0.166667
5      0.000000
8      0.000000

In [7]:
train_data['SibSp'].value_counts()

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [8]:
train_data['SibSp']=np.where(train_data['SibSp']>0,1,0)

In [9]:
train_data['SibSp'].value_counts()

0    608
1    283
Name: SibSp, dtype: int64

In [10]:
train_data[['SibSp','Survived']].groupby(['SibSp']).mean().sort_values(by='Survived',ascending=False)

       Survived
SibSp
1      0.466431
0      0.345395

In [11]:
train_data['Parch']=np.where(train_data['Parch']>0,1,0)

In [12]:
train_data[['Parch','Survived']].groupby(['Parch']).mean().sort_values(by='Survived',ascending=False)

       Survived
Parch
1      0.511737
0      0.343658

In [13]:
train_data['Sex']=np.where(train_data['Sex']=="male",1,0)

In [14]:
train_data[['Sex','Survived']].groupby(['Sex']).mean().sort_values(by='Survived',ascending=False)

     Survived
Sex
0    0.742038
1    0.188908

In [15]:
train_data['Cabin'].value_counts()

train_data['Cabin']=train_data['Cabin'].fillna('O')
list=train_data['Cabin']

In [16]:
alp=["A",'B','C','D','E','F','G']
for i in range(len(list)):
    list[i]=str(list[i])[0]
list

C:\Users\ADITHYA\AppData\Local\Temp\ipykernel_4272\352187470.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list[i]=str(list[i])[0]

0      O
1      C
2      O
3      C
4      O
      ..
886    O
887    B
888    O
889    C
890    O
Name: Cabin, Length: 891, dtype: object

In [17]:

train_data['Cabin'].value_counts()

O    687
C     59
B     47
D     33
E     32
A     15
F     13
G      4
T      1
Name: Cabin, dtype: int64

In [18]:
train_data[['Cabin','Survived']].groupby(['Cabin']).mean().sort_values(by='Survived',ascending=False)

       Survived
Cabin
D      0.757576
E      0.750000
B      0.744681
F      0.615385
C      0.593220
G      0.500000
A      0.466667
O      0.299854
T      0.000000

In [19]:
train_data['Age']=np.where(train_data['Age']>30,0,1)
train_data['Age']=train_data['Age'].fillna(2)
train_data[['Age','Survived']].groupby(['Age']).mean().sort_values(by='Survived',ascending=False)
train_data['Age'].value_counts()

1    586
0    305
Name: Age, dtype: int64

In [20]:
X=train_data.drop(['Survived','Name','Ticket','Fare','PassengerId'],axis=1)
object_cols = [cols for cols in X.columns if X[cols].dtype == 'object']

from sklearn.preprocessing import OrdinalEncoder
encoder=OrdinalEncoder()
X['Cabin']=encoder.fit_transform(X['Cabin'].values.reshape(-1,1))

X['Embarked'] = encoder.fit_transform(X['Embarked'].values.reshape(-1,1))
X=X.dropna(axis=1)

In [36]:
object_cols = [cols for cols in X.columns if X[cols].dtype == 'object']

y=train_data.Survived

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=32)
object_cols

[]

In [22]:
X['Cabin']

0      7.0
1      2.0
2      7.0
3      2.0
4      7.0
      ...
886    7.0
887    1.0
888    7.0
889    2.0
890    7.0
Name: Cabin, Length: 891, dtype: float64

In [23]:
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier(n_neighbors=5)
model.fit(X_train,y_train)
pred=model.predict(X_test)

c:\Users\ADITHYA\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [24]:
pred

array([0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1], dtype=int64)

In [25]:
from sklearn.metrics import roc_curve, roc_auc_score


fpr, tpr, thresholds = roc_curve(y_test, pred)
auc = roc_auc_score(y_test, pred)
auc

0.7591288471570161

In [26]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model.fit(X_train,y_train)
pred=model.predict(X_test)

In [27]:
fpr, tpr, thresholds = roc_curve(y_test, pred)
auc = roc_auc_score(y_test, pred)
auc

0.7571074595722482

In [31]:
from sklearn.linear_model import LogisticRegression
model =LogisticRegression()
model.fit(X_train,y_train)
pred=model.predict(X_test)

In [32]:
fpr, tpr, thresholds = roc_curve(y_test, pred)
auc = roc_auc_score(y_test, pred)
auc

0.7709963484611372

In [69]:
import tensorflow as tf
from tensorflow.keras import layers,Sequential

model=Sequential([
    layers.Dense(1024,input_shape=[6]),
    layers.Dense(128,activation='relu'),
    layers.Dense(32,activation='relu'),
    layers.Dense(128,activation='relu'),
    layers.Dense(64,activation='relu'),
    layers.Dense(1,activation='sigmoid'),
])
model.compile(optimizer='adam',loss="binary_crossentropy",metrics=["accuracy"])
model.fit(X_train,y_train,epochs=50,batch_size=4,validation_data=(X_test,y_test))

Epoch 1/50
178/178 [==============================] - 3s 6ms/step - loss: 0.6136 - accuracy: 0.6742 - val_loss: 0.5052 - val_accuracy: 0.7989
Epoch 2/50
178/178 [==============================] - 1s 4ms/step - loss: 0.5530 - accuracy: 0.7556 - val_loss: 0.4646 - val_accuracy: 0.7989
Epoch 3/50
178/178 [==============================] - 1s 4ms/step - loss: 0.5179 - accuracy: 0.7739 - val_loss: 0.4486 - val_accuracy: 0.8045
Epoch 4/50
178/178 [==============================] - 1s 4ms/step - loss: 0.5039 - accuracy: 0.7739 - val_loss: 0.4968 - val_accuracy: 0.7374
Epoch 5/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4858 - accuracy: 0.7781 - val_loss: 0.4771 - val_accuracy: 0.8045
Epoch 6/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4696 - accuracy: 0.7654 - val_loss: 0.4803 - val_accuracy: 0.8045
Epoch 7/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4648 - accuracy: 0.7921 - val_loss: 0.4625 - val_accuracy: 0.7821
Epoch 8/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4528 - accuracy: 0.7935 - val_loss: 0.4744 - val_accuracy: 0.7654
Epoch 9/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4587 - accuracy: 0.8062 - val_loss: 0.4666 - val_accuracy: 0.8045
Epoch 10/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4605 - accuracy: 0.7837 - val_loss: 0.4939 - val_accuracy: 0.7709
Epoch 11/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4701 - accuracy: 0.8006 - val_loss: 0.4720 - val_accuracy: 0.8045
Epoch 12/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4505 - accuracy: 0.7963 - val_loss: 0.4709 - val_accuracy: 0.7821
Epoch 13/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4604 - accuracy: 0.7893 - val_loss: 0.4852 - val_accuracy: 0.7877
Epoch 14/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4527 - accuracy: 0.7921 - val_loss: 0.4951 - val_accuracy: 0.7821
Epoch 15/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4455 - accuracy: 0.8062 - val_loss: 0.4770 - val_accuracy: 0.7933
Epoch 16/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4519 - accuracy: 0.7963 - val_loss: 0.4696 - val_accuracy: 0.7821
Epoch 17/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4589 - accuracy: 0.7978 - val_loss: 0.4616 - val_accuracy: 0.7933
Epoch 18/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4430 - accuracy: 0.8090 - val_loss: 0.4696 - val_accuracy: 0.7989
Epoch 19/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4366 - accuracy: 0.8146 - val_loss: 0.5150 - val_accuracy: 0.8101
Epoch 20/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4481 - accuracy: 0.8090 - val_loss: 0.4714 - val_accuracy: 0.8156
Epoch 21/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4383 - accuracy: 0.8132 - val_loss: 0.4715 - val_accuracy: 0.7877
Epoch 22/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4394 - accuracy: 0.8146 - val_loss: 0.4694 - val_accuracy: 0.7933
Epoch 23/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4280 - accuracy: 0.8090 - val_loss: 0.4691 - val_accuracy: 0.8045
Epoch 24/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4345 - accuracy: 0.8048 - val_loss: 0.5792 - val_accuracy: 0.7877
Epoch 25/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4406 - accuracy: 0.8062 - val_loss: 0.4993 - val_accuracy: 0.7877
Epoch 26/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4379 - accuracy: 0.8006 - val_loss: 0.4824 - val_accuracy: 0.7933
Epoch 27/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4267 - accuracy: 0.8090 - val_loss: 0.4634 - val_accuracy: 0.7765
Epoch 28/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4292 - accuracy: 0.8104 - val_loss: 0.4818 - val_accuracy: 0.8045
Epoch 29/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4291 - accuracy: 0.8048 - val_loss: 0.4958 - val_accuracy: 0.7933
Epoch 30/50
178/178 [==============================] - 1s 5ms/step - loss: 0.4213 - accuracy: 0.8076 - val_loss: 0.5075 - val_accuracy: 0.7877
Epoch 31/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4281 - accuracy: 0.8090 - val_loss: 0.4831 - val_accuracy: 0.8101
Epoch 32/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4273 - accuracy: 0.8118 - val_loss: 0.4767 - val_accuracy: 0.7933
Epoch 33/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4412 - accuracy: 0.8076 - val_loss: 0.4768 - val_accuracy: 0.8045
Epoch 34/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4225 - accuracy: 0.8132 - val_loss: 0.4910 - val_accuracy: 0.7877
Epoch 35/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4222 - accuracy: 0.8188 - val_loss: 0.4728 - val_accuracy: 0.8045
Epoch 36/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4175 - accuracy: 0.8118 - val_loss: 0.5449 - val_accuracy: 0.7933
Epoch 37/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4222 - accuracy: 0.8174 - val_loss: 0.4795 - val_accuracy: 0.7709
Epoch 38/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4109 - accuracy: 0.8230 - val_loss: 0.5221 - val_accuracy: 0.7989
Epoch 39/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4226 - accuracy: 0.8118 - val_loss: 0.5133 - val_accuracy: 0.7709
Epoch 40/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4256 - accuracy: 0.8188 - val_loss: 0.5180 - val_accuracy: 0.7318
Epoch 41/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4164 - accuracy: 0.8160 - val_loss: 0.4865 - val_accuracy: 0.7989
Epoch 42/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4217 - accuracy: 0.8006 - val_loss: 0.4838 - val_accuracy: 0.7821
Epoch 43/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4057 - accuracy: 0.8258 - val_loss: 0.5200 - val_accuracy: 0.7654
Epoch 44/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4138 - accuracy: 0.8118 - val_loss: 0.5150 - val_accuracy: 0.7765
Epoch 45/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4174 - accuracy: 0.8216 - val_loss: 0.5026 - val_accuracy: 0.7821
Epoch 46/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4218 - accuracy: 0.8202 - val_loss: 0.4918 - val_accuracy: 0.7877
Epoch 47/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4030 - accuracy: 0.8301 - val_loss: 0.5579 - val_accuracy: 0.7765
Epoch 48/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4268 - accuracy: 0.8244 - val_loss: 0.4797 - val_accuracy: 0.7654
Epoch 49/50
178/178 [==============================] - 1s 4ms/step - loss: 0.4080 - accuracy: 0.8272 - val_loss: 0.4854 - val_accuracy: 0.7821
Epoch 50/50
178/178 [==============================] - 1s 4ms/step - loss: 0.3959 - accuracy: 0.8301 - val_loss: 0.5478 - val_accuracy: 0.7598

In [56]:
from sklearn.linear_model import SGDClassifier
model=SGDClassifier(loss="squared_hinge")
model.fit(X_train,y_train)
pred=model.predict(X_test)
pred

array([0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 1], dtype=int64)

In [57]:
fpr, tpr, thresholds = roc_curve(y_test, pred)
auc = roc_auc_score(y_test, pred)
auc

0.7830594679186228

In [65]:
from sklearn.multiclass import OneVsOneClassifier
model=OneVsOneClassifier(SGDClassifier())
model.fit(X_train,y_train)
pred=model.predict(X_test)

In [68]:
fpr, tpr, thresholds = roc_curve(y_test, pred)
auc = roc_auc_score(y_test, pred)
auc

0.7090505998956703

In [71]:
from sklearn.svm import LinearSVC
model=LinearSVC()
model.fit(X_train,y_train)
pred=model.predict(X_test)

c:\Users\ADITHYA\anaconda3\lib\site-packages\sklearn\svm\_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

In [72]:
fpr, tpr, thresholds = roc_curve(y_test, pred)
auc = roc_auc_score(y_test, pred)
auc

0.7732133541992696

The maximum accuracy we approached is 80%